body
{
     background-color: rgba(255,255,255,0.7);
    background-blend-mode: lighten;
    margin-top: 0px;
    letter-spacing: normal;
    padding-bottom: 0px;
    background-image:url(bank.jpg) ;
       background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}
hr
{
    
}
.top
{
    margin-top: auto;
    margin-left: 0px;
    overflow: hidden; 
    background-color:#4A707e;
}
.top input[type=search]
{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 17px;
}
.top a
{
    display: block;
    color: black;
    text-align: center;
    padding: 9.5px 9.5px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    
}
.top a:hover 
{
    background-color: #ddd;
    color: black;
}
#r
{
    float: right;
}
#l
{
    float: left;
}
marquee
{
    display: block;
    padding: 4px 4px;
}
hr
{
    color: black;
}
